<?define DynamicWallpaperPath = "$(DynamicWallpaper.ProjectDir)..\bin\release\publish\"?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<ComponentGroup Id="ExampleComponents" Directory="INSTALLFOLDER">
			<Component NeverOverwrite="no" UninstallWhenSuperseded="yes">
				<File Source="$(var.DynamicWallpaperPath)DynamicWallpaper.exe"  />
			</Component>
			<Component NeverOverwrite="no">
				<File Source="$(var.DynamicWallpaperPath)nlog.config" />
			</Component>
			<Component>
				<File Source="$(var.DynamicWallpaperPath)PenImc_cor3.dll" />
			</Component>
			<Component>
				<File Source="$(var.DynamicWallpaperPath)PresentationNative_cor3.dll" />
			</Component>
			<Component>
				<File Source="$(var.DynamicWallpaperPath)vcruntime140_cor3.dll" />
			</Component>
			<Component>
				<File Source="$(var.DynamicWallpaperPath)wpfgfx_cor3.dll" />
			</Component>
			<Component>
				<File Source="$(var.DynamicWallpaperPath)D3DCompiler_47_cor3.dll" />
			</Component>
			<Component NeverOverwrite="no" UninstallWhenSuperseded="yes">
				<File Source="$(var.DynamicWallpaperPath)libs\DynamicWallpaper.Command.exe" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
