<?define DynamicWallpaperPath = "$(DynamicWallpaper.ProjectDir)..\bin\release\publish\"?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<ComponentGroup Id="ExampleComponents" Directory="INSTALLFOLDER">
			<Component>
				<File Source="$(var.DynamicWallpaperPath)DynamicWallpaper.exe" />
			</Component>
			<Component>
				<File Source="$(var.DynamicWallpaperPath)nlog.config" />
			</Component>
			<Component>
				<File Source="$(var.DynamicWallpaperPath)PenImc_cor3.dll" />
			</Component>
			<Component>
				<File Source="$(var.DynamicWallpaperPath)PresentationNative_cor3.dll" />
			</Component>
			<Component>
				<File Source="$(var.DynamicWallpaperPath)vcruntime140_cor3.dll" />
			</Component>
			<Component>
				<File Source="$(var.DynamicWallpaperPath)wpfgfx_cor3.dll" />
			</Component>
			<Component>
				<File Source="$(var.DynamicWallpaperPath)D3DCompiler_47_cor3.dll" />
			</Component>
			<Component Id="RegistryComponent" Guid="119ff464-160e-4056-ab04-3c6c6ebd419b">
				<RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\PersonalizationCSP" ForceCreateOnInstall="yes">
					<Permission User="Users" ChangePermission="yes" GenericAll="yes" />
				</RegistryKey>
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
